<div class="headerbar">
    <h2><a href="/">educademy</a><i class="fa fa-qrcode"></i></h2>
    <i class="fa fa-bars"></i>
    </div>
    <div class="navbar">
    <ul class="un-list">
    <li><a href="/login">Log in</a></li>
    <li><a href="/about">about us</a></li>
    <li><a href="/programms"> our programms</a></li>
    <li><a href="/contact">contact us</a></li>
    </ul>
    </div>