<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/navbar.ejs') %>
<div class="error">
<h1><big>404</big></h1>
<h2><big>OOPS ,</big> something went wrong!</h2>
</div>
<%- include('./partials/script.ejs') %>
</body>
</html>