
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/navbar.ejs') %>
<div class="contentss">
<h1>about us</h1>
<p>We are parents, just like you. We founded Educademy 
    because we believe in a better future. We believe 
    that we can educate today’s children and teenagers to become tomorrow’s scientists, engineers, designers and artists. It is a seed we plant today
     in the hope of tomorrow’s fruits. </p>

<h1>our mission</h1>
<p>
Educademy’s mission is simply to create a better 
world tomorrow. How are we going to achieve that? 
We are going to change today’s children.
<br>
<br> 

 We create a lasting positive outcome. Throughout our camps and courses, 
 we reinforce positive feedback. We set them for success. We select 
 tasks and projects appropriate to the level of young 
 learners. Each and every one of our tutors is equipped 
 with tools to ensure every participant in our courses succeeds. 
 Time after time, the children learn they can do it. The feeling of 
 accomplishment gets rooted deeper and deeper. There is no going back. 
<br>
<br>
 On one hand, we strongly believe they’ll continue their Computer Science 
 education. We are certain by the time they reach university age 
 they’ll be ready to take on any subject requiring writing computer code. 
</p>
</div>
<%- include('./partials/script.ejs') %>
</body>
</html>