<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/navbar.ejs') %>
<div class="programs">
<h1>programms we are providing ?</h1>
<h2>python programming</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Quibusdam repellendus qui, omnis id corrupti non culpa vero 
    accusantium distinctio eum magni ducimus facilis eos
     consequuntur numquam quos saepe officiis pariatur. Lorem ipsum 
     dolor sit amet consectetur adipisicing elit. Consequatur quaerat 
     ipsum quas, ut, quos non neque dolor quis odio quia laudantium expedita aliquid repudiandae 
     vero eligendi molestiae explicabo nesciunt omnis?</p>
<h2>java programming</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
 Quibusdam repellendus qui, omnis id corrupti non culpa vero 
accusantium distinctio eum magni ducimus facilis eos
consequuntur numquam quos saepe officiis pariatur. Lorem ipsum 
dolor sit amet consectetur adipisicing elit. Consequatur quaerat 
ipsum quas, ut, quos non neque dolor quis odio quia laudantium expedita aliquid repudiandae 
vero eligendi molestiae explicabo nesciunt omnis?</p>
 <h2>Machine Learning</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
 Quibusdam repellendus qui, omnis id corrupti non culpa vero 
 accusantium distinctio eum magni ducimus facilis eos
 consequuntur numquam quos saepe officiis pariatur. Lorem ipsum 
dolor sit amet consectetur adipisicing elit. Consequatur quaerat 
ipsum quas, ut, quos non neque dolor quis odio quia laudantium expedita aliquid repudiandae 
vero eligendi molestiae explicabo nesciunt omnis?</p>
<h2>Full stck web development</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
Quibusdam repellendus qui, omnis id corrupti non culpa vero 
accusantium distinctio eum magni ducimus facilis eos
consequuntur numquam quos saepe officiis pariatur. Lorem ipsum 
dolor sit amet consectetur adipisicing elit. Consequatur quaerat 
ipsum quas, ut, quos non neque dolor quis odio quia laudantium expedita aliquid repudiandae 
vero eligendi molestiae explicabo nesciunt omnis?</p>
        
</div>
<%- include('./partials/script.ejs') %>
    
</body>
</html>