<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/navbar.ejs') %>
<div class="login-box">
<h1 class="icon"><i class="fa fa-user"></i></h1>
<h2>login here</h2>

<form class="logindetails">
<p>username</p>
<input type="text" placeholder="enter username">
<p>password</p>
<input type="password" placeholder="enter password">


<button type="submit" value="login">login</button>
</form>
<div class="links">
<a href="#">Forgot your password?</a>

<a href="#">Don't have account?</a>
</div>
</div>
<%- include('./partials/script.ejs') %> 
</body>
</html>